.bold { 
		font-weight: bold; 
}

.background { 
	   font-family: sans-serif;
	   background-color: lightblue; 
	   padding: 7px; 
}

.heading {
		text-align: center; 
	    background-color: crimson; }

.italic { 
		font-style: italic; 
}

.large { 
		font-size: 24pt; 
		 font-weight: bold;
}

.center {
		text-align: center;
}
.innerbox {text-align: left;
		background-color: #f5f5f0;
		padding: 10px; 
		}

.indent {
		margin-left: 100px;
}

.redBorder {
		border: 5px red solid;
}
.button {
    display: block;
    width: 200px;
    height: 25px;
    background-color: crimson;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
	border: 1px solid black;
}
#tipBox {
	position: absolute; 
	left: 550px;
    top: 100px;
}
#adviceBox{
	position: absolute; 
	left: 700px;
    top: 150px;
}
